.photo-card {
    border: solid 1px black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 320px;
    padding: 10px;
}

.profile-picture {
    border-radius: 50%;
}
