.about {
    background: rgb(190, 190, 190);
    border-top: 1px solid rgb(0, 81, 255);
    padding: 25px;
}

.title-header {
    padding-bottom: 25px;
}

.about-words {
    font-family: Raleway;
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding-bottom: 25px;
}

.image-box {
    background-image: url("../../images/profile.jpeg");
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.title-h1 {
    text-align: center;
    font-family: merriweather;
    font-style: italic;
}
