* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;}
.row::after {
    display: block;
    clear: both;
    content: "";}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container--image {
    max-width: 140rem;
    margin: 0 auto; 
    padding: 0 1.6rem;
}

.container {
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 1.6rem;

}


/* NavBar */

.navbar {
    background: rgba(0, 0, 0, 0.7);
    font-size: 1.8rem;
}


.navbar--ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    overflow: hidden;
}

.navbar--li {
    display: inline-block;
}

.navbar--li .navbar--a {
    color: rgb(182, 182, 182);
    display: inline-block;
    padding: 1.8rem 2rem 1.6rem 2rem;
    text-decoration: none;
}

.navbar--button {
    background-color: rgb(138, 138, 138);
    border: 3px solid rgb(138, 138, 138);
    border-radius: 4px;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 2rem 0 1rem ;
    padding: .6rem 2rem;

    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.myImages {
    width: 100%;
}

.button--right, .button--left{
    background-color: black;
    border: none;
    color: rgba(255,255,255,0.7);
    margin-top: 1rem;
    padding: 2rem 2rem;
}

.button--right:hover, .button--left:hover {
    background-color:rgba(138, 138, 138, 0.4);
    color: black;
}

