 /*  Basics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #000000;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;}
.row::after {
    display: block;
    clear: both;
    content: "";}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
    max-width: 80rem;
    margin: 0 auto; 
    padding: 0 1.6rem;
}

/* Header */

.header {
    display: block;
    height: 50rem;
}

.header img {
    border-bottom: 3px solid rgb(61, 233, 233);
    height: 50rem;
    object-fit: cover;
    width: 100%;
}

/* About */

.about {
    background: black;
    border-bottom: 3px solid rgb(136, 0, 255);
    padding-bottom: 2rem;
}

.about--profile {
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: -150px;
    position: relative;
}

.about--profile img{
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(61, 233, 233, .5);
    height: 300px;
    width: 300px;
}
.about--header h1 {
    color: #D7D7D7;
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

p {
    color: #D7D7D7;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-indent: 3rem;
}

.about--image {
    border-radius: 5px;
    height: 175px;
    margin-bottom: 1rem;
    object-fit: cover;
    width: 175px;
}

.about--image img {
    border: 1px solid rgb(136, 0, 255);
    box-shadow: 0 0 15px 5px rgba(136, 0 , 255, .6);
    border-radius: 5px;
    height: 175px;
    width: 175px;
    object-fit: cover;
}

.right {
    margin: auto;
}

/* Projects Nature */

.project--header {
    background-size: cover;
    background-image: url('/images/nature4.jpg');
    background-repeat: no-repeat;
    border-bottom: 3px solid rgb(119,203,65);
    display: block;
    width: 100%;
}

.project--header img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.image--big {
    background-image: url('/images/nature.jpg');
    background-size: cover;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px rgba(255,255,255, .4);
    height: 36rem;
    width: 36rem;
}

.image {
    background: blue;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 0 15px 5px rgba(255,255,255, .4);
    height: 17rem;
    width: 17rem;
}

.one { grid-area: one; }

.two { 
    background-image: url('/images/nature2.jpg');
    background-size: cover;
    grid-area: two; 
}
.three {
    background-image: url('/images/nature3.jpg');
    background-size: cover;
    grid-area: three; 
}
.four { 
    background-image: url('/images/nature5.jpg');
    background-size: cover;
    grid-area: four; 
}

.five { 
    background-image: url('/images/nature6.jpg');
    background-size: cover;
    grid-area: five; }

.grid--container__nature {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 
    'one one two three'
    'one one four five';
    padding: 8rem 0 8rem 0;
}